@model WebApplication1.Models.Flat

@{
    ViewBag.Title = "Flat Details";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/admin/AdminDashboard">Dashboard</a></li>
                <li><a href="/admin/userList">User List</a></li>
                <li><a href="/admin/houseList">House List</a></li>
                <li><a href="/admin/reviewComment">Review Comment</a></li>
                <li><a href="/admin/editProfile">Edit Profile</a></li>
                <li><a href="/admin/changePassword">Change Password</a></li>
                <li><a href="/logout/Logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<h2>Flat Details</h2>

<div>
    <h4>Flat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FlatSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlatSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>

